@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Imemories.Models.Post

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todos - Create</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/finance_create.css" asp-append-version="true" />

</head>
<body>
<form asp-controller="Post" asp-action="CreatePost" enctype="multipart/form-data">
    <h1>Create</h1>
    <div class="question">
        <label>Title</label>
                <input asp-for="Title" type="text" required />
        <label>Image</label>
        <input name="Photo" type="file" class="form-control" />
        <label>Text</label>
                <input asp-for="Text" type="text" />
                <label>Time</label>
                        <input asp-for="Time" type="datetime-local" />
        <label>Audio</label>
        <input asp-for="AudioPath" type="text" />
    </div>

    <button type="submit">Submit</button>
   
</form>
</body>
</html>