@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Imemories.Models.Post

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    	<title>Memories</title>
    
    	<!-- Google font -->
    	<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    	
    	<!-- Bootstrap -->
    	<link type="text/css" rel="stylesheet" href="~/css/post/bootstrap.min.css" />
    
    	<!-- Custom stlylesheet -->
    	<link type="text/css" rel="stylesheet" href="~/css/post/create.css" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>
<body>


<!---->
<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg">
							<div class="form-header">
								<a class="close_page" asp-controller="Home" asp-action="Index"><i class="fa fa-times" aria-hidden="true"></i></a>
								<h2>Добавление поста</h2>
								<p>Добавьте запись вашего запоминающегося события</p>
							</div>
						</div>
						<form asp-controller="Post" asp-action="CreatePost" enctype="multipart/form-data">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Заголовок</span>
										<input class="form-control" type="text" asp-for="Title"  required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Текст</span>
										<input class="form-control" asp-for="Text" type="text" >
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Фото</span>
										<input class="form-control" name="Photo" type="file" required placeholder="Фото">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Аудиозапись</span>
										<input class="form-control" type="file" name="AudioPath" placeholder="Аудиозапись">
									</div>
								</div>
							</div>
							<div class="form-group">
								<span class="form-label">Дата и время</span>
								<input class="form-control" asp-for="Time" type="datetime-local" required placeholder="Дата и время">
							</div>
							<div class="form-btn">
								<button class="submit-btn" type="submit">Отправить</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>